.wrapper {
  background-color: grey;
}
.wrapper nav ul li {
  display: inline-block;
  margin-left: 40px;

}
.wrapper * {
    display: inline-block;
    margin-left: 25px;
}
.wrapper button {
  margin-right: 80px;
}
.wrapper nav {
  position: relative;
  top: -30px;
}

.wrapper header {
  background-color: #8393ad;
}
.wrapper .logo {
  width: 20%;
}
/* header section,nav,button {
  float: left;
}
*/
header button {
  margin-top: 30px;
  float: right;
  padding: 15px;
  color: green;
}
